	.table_round
		{
		font-size:12px;color:black;
		background:#97C399;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		}
    .tbl {align: center;border-color:#CCFFFF;}
    .tbl tr:hover {background-color: #DDDADA;color:black;border:1px;}
	.gradasi_biru{
		border: 1px solid #00AAAA;
		background: #00AAAA; 
		background: -moz-linear-gradient( center top, white 20%, #00AAAA 100% ); 
		background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, white), color-stop(1, #00AAAA) );}
	.gradasi_merah{
		border: 1px solid pink;
		background: pink; 
		background: -moz-linear-gradient( center top, white 20%, pink 100% ); 
		background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, white), color-stop(1, pink) );}
	.btn-label {position: relative;left: -12px;display: inline-block;padding: 8px 15px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
	.btn-labeled {padding-top: 0;padding-bottom: 0;}
	.text-vertical{
		writing-mode:tb-rl;
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform:rotate(0deg);
		transform: rotate(0deg);
		white-space:nowrap;
		display:block;
		bottom:0;
		width:20px;
		height:100px;
	}	