.boxed-page {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px;}

.bgheader{
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, #BEC3C7));}
.bgfoter{
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #BEC3C7), color-stop(1, white));}

.kotak-login-hitam{width: 30%;height:50%;background-color:rgba(0,0,0,0.3);color:white;}
.kotak-login-putih{width: 30%;height:50%;background-color:rgba(255,255,255,0.5);color:black;}

.tabel{
	text-align:center;
    border-spacing: 0px;
	padding: 0px;
    border-collapse: collapse;
	border:0px;
	margin: 0 auto;
	font-size:10pt;border :solid 2px white;}
.tabel1{
	text-align:left;
    border-spacing: 0px;
	padding: 0px;
    border-collapse: collapse;
	margin: 0 auto;
	font-size: 10pt;}
.bayang{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);}
.row { 
	height:25px;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, #5D6E7E));
	color:white;}
.form { 
	height:25px;
	font-weight: bold;
	text-align:left;}
.garis{
	height:25px;
	border :solid 2px white;
	font-family: calibri;
	font-size: 13px;
	}

/*----TOMBOL-----*/

.button{
		cursor:pointer;
		border-width:3px;
		-moz-border-radius:0px;
		-webkit-background-size: 100% 100%;
		cursor:pointer;
		width:232px;
		height:120px;
		color:transparent;}
.tombol-diag-home,
.login,
.lihathal,
.kecil,
.lihat,
.lihat-biru,.lihat-hijau,
.detail,
.besar-hijau,
.sedangaktif,
.menbut,.menbutaktif,.menbuthijau,
.butpel,.butpelaktif {
	cursor:pointer;
	border:solid 0px ;
	}
.tombol-diag-home {
	background:#5D6E7E; 
	width: 230px;
	height: 30px;
	font-size : 13px;
	text-align: left;color:white;}	
.menbuthijau,
.menbutaktif,
.menbut {
	width: 120px;
	height: 40px;
	font-size : 14px;
	font-weight: bold;}
.menbut {
	background:#5D6E7E;
	border-left:solid 2px white;
	color:white;}
.menbuthijau {
	background:#19BD9B;
	color:white;}
.menbutaktif {
	background:#fff;
	color:#20ADD8;}

.butpelaktif,
.butpel {
	width: 90px;
	height: 35px;
	font-size : 12px;
	font-weight: bold;}
.butpel {
	background:#2DCC70;
	border-left:solid 2px white;
	color:white;}
.butpelaktif {
	background:#fff;
	color:#20ADD8;}

.login{
	width: 250px;
	height: 30px;
	font-size : 13px;
	background:#5D6E7E; color : white;}
.sedang {
	cursor:pointer;
	width: 140px;
	height: 30px;
	font-size : 9pt;
	background:#E9E9E9; color : black;}
.sedangaktif {
	width: 140px;
	height: 30px;
	font-size : 13px;
	background:white; color : #2DCC70;font-size: 9pt;}
.besar {
	cursor:pointer;
	width: 200px;
	height: 20px;
	font-size : 9pt;
	background:#E9E9E9; color : black;}
.besar-hijau{
	width:250px;height:40px;
	font-size : 13pt;
	background:#19BD9B; color : white;}
.kecil {
	width: 30px;
	height: 20px;
	font-size : 13px;
	background:#E9E9E9; color : white;}
.agakkecil {
	cursor:pointer;
	width: 65px;
	height: 20px;
	font-size : 9pt;
	background:#E9E9E9; color : black; }
.keciltotal {
	cursor:pointer;
	width: 65px;
	height: 20px;
	font-size : 9pt;
	background:#5C97BF; color : white; }
.kecil-pjg{
	cursor:pointer;
	width: 100px;
	height: 20px;
	background:#E9E9E9; color : black;font-size: 9pt;}
.detail,
.lihathal,
.lihat {
	border-radius:40px;
	background:transparent; color : black;}	
.lihat {
	width: 30px;
	height: 30px;}
.lihathal {
	width: 35px;
	height: 35px;}
.lihat-biru {
	width: 30px;
	height: 30px;
	border-radius:40px;
	background:#2DCC70; color : white;}
.lihat-hijau {
	width: 30px;
	height: 30px;
	border-radius:40px;
	background:#2DCC70; color : white;}
.detail {
	width: 70px;
	height: 30px;}
.bor{
	border-right:solid 2px white;}
.font{color:black;}
	
	/*----HOVER TOMBOL----*/
.men-fade,
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;}
  
.a-font:hover, .a-font:focus, .a-font:active {
  background:  #D0E6F6; }

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
 background:transparent;
  color: white;}
.b-fade:hover, .b-fade:focus, .b-fade:active {
  background-color: #2969B0;
  color: white;}
.a-fade:hover, .a-fade:focus, .a-fade:active {
  background-color: #E9E9E9;
  color: black;}
.men-fade:hover, .men-fade:focus, .men-fade:active {
  background-color: #3598DC;
  color: white;}
  

 /*----END TOMBOL-----*/


img.cover3{
		height:40px;
		Width:40px;
		padding-top:0px;}
/*----INPUT TEXT-----*/
.input-a:focus,
.input-b:focus,
.input-e:focus,
.input-c:focus,
.input-d:focus  {
border: 2px solid rgba(190, 195, 199, 1);
height: 20px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.input-panjang,
.input-a,
.input-b,
.input-c,
.input-d,
.input-e {
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  outline: none;
border: 1px solid #7E8C8C;
}
.input-panjang {
height: 20px;
width:550px;
}
.input-a {
height: 20px;
width:355px;
}
.input-b {
height: 20px;
width:100px;
}
.input-c {
height: 20px;
width:40px;
}
.input-d {
height: 20px;
width:250px;
}
.input-e {
height: 20px;
width:160px;
}
/*----END INPUT TEXT-----*/
