.boxed-page {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px;}
.boxed-emr{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	position: relative;
	padding: 5px;}
 
.bgheader{
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, rgba(25,111,61,0.4)));}
.bgfoter{
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(25,111,61,0.4)), color-stop(1, white));}

.kotak-login-hitam{width: 30%;background-color:rgba(0,0,0,0.3);color:white;}
.kotak-login-putih{width: 30%;background-color:rgba(255,255,255,0.5);color:black;}
.kotak-login-hijau{width: 50%;background-color:#dff0d8;color:black;border-style:solid;border-color:#148f77;border :solid 1px #148f77;}

.tabel{
	text-align:center;
    border-spacing: 0px;
	padding: 0px;
    border-collapse: collapse;
	border:0px;
	margin: 0 auto;
	font-size:10pt;border :solid 2px white;}
.tabel1{
	text-align:left;
    border-spacing: 0px;
	padding: 0px;
    border-collapse: collapse;
	margin: 0 auto;
	font-size: 10pt;}
.tabel_entri{
	background-color:rgba(125,206,160,0.4);
	text-align:left;
    border-spacing: 2px;
	padding: 15px;
    border-collapse: collapse;
	width: fixed;
	border: 10px solid rgba(125,206,160,0.0);
	margin: 0 auto;
	font-size: 10pt;}
.bayang{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);}
.bayang_bwh{
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);}
.row1 { 
	height:25px;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0b5345), color-stop(1, #0b5345));
	color:white;}
.row2 { 
	height:25px;
	font-weight: bold;
	background-color:#f62459;
	color:white;}
.form { 
	height:25px;
	font-weight: bold;
	text-align:left;}
.garis{
	height:25px;
	border :solid 2px white;
	font-family: calibri;
	font-size: 13px;
	}


/*----TOMBOL-----*/
.kecil-pjg,
.tombol-diag-home,
.login,
.lihathal,
.kecil,.kecilred,.kecila,
.lihat,.trans,
.lihat-biru,.lihat-hijau,
.detail,.lbhkecil,
.besar,.besar-hijau,
.agakkecil,
.sedang,.sedangaktif,
.menbut,.menbutaktif,.menbuthijau,
.butpel,.butpelaktif {
	cursor:pointer;
	border:0px;
	-moz-border-radius :0px;
	}
.menbuthijau,
.menbutaktif,
.menbut {
	width: 120px;
	height: 40px;
	font-size : 14px;}
.menbut {
	background:rgba(23,165,137,0.0);
	color:black;}
.menbuthijau {
	background:#17a086;
	color:white;}
.menbutaktif {
	background:#fff;
	color:#20ADD8;}
.togglebut {
	background:#17a086;
	color:white;
	width: inherit;
	height: inherit;
	font-size : 14px;
	font-weight: bold;}
	
.butpelaktif,
.butpel {
	width: 90px;
	height: 35px;
	font-size : 12px;
	font-weight: bold;}
.butpel {
	background:#0b5345;
	border-left:solid 2px white;
	color:white;}
.butpelaktif {
	background:#fff;
	color:#20ADD8;}

.tombol-diag-home {
	background:#0b5345; 
	width: 225px;
	height: 25px;
	font-size : 13px;
	text-align: left;color:white;}	
.trans {
	background:rgba(0,0,0,0.0); 
	width: fixed;
	height: 25px;
	font-size : 13px;color:black;}	
.login {
	width: 250px;
	height: 25px;
	font-size : 13px;
	background:#0b5345; color : white;}
.sedang {
	width: 120px;
	height: 25px;
	font-size : 13px;
	background:#0b5345; color : white;font-size: 9pt;}
.kecila {
	width: 30px;
	height: 25px;
	font-size : 13px;
	background:#0b5345; color : white;border:0;}
.lbhkecil {
	width: 30px;
	height: 25px;
	font-size : 13px;
	background:rgba(0,0,0,0.0); color : #0b5345;}
.sedangaktif {
	width: 120px;
	height: 25px;
	font-size : 13px;
	background:white; color : #0b5345;font-size: 9pt;}
.besar {
	width: 180px;
	height: 25px;
	font-size : 13pt;
	background:#0b5345; color : white;}
.besar-hijau{
	width:250px;height:40px;
	font-size : 13pt;
	background:#0b5345; color : white;}
.kecil {
	width: 40px;
	height: 25px;
	font-size : 13px;
	background:#0b5345; color : white;
	-webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;}
.kecilred {
	width: 40px;
	height: 25px;
	font-size : 13px;
	background:#e74c3c; color : white;
	-webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;}
.agakkecil {
	width: 50px;
	height: 25px;
	font-size : 13px;
	background:#0b5345; color : white;
	-webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;}
.kecil-pjg{
	width: 100px;
	height: 25px;
	font-size : 13px;
	background:#0b5345; color : white;font-size: 9pt;}
.detail,
.lihathal,
.lihat {
	border-radius:40px;
	background:transparent; color : black;}	
.lihat {
	width: 25px;
	height: 25px;}
.lihathal {
	width: 25px;
	height: 25px;}
.lihat-biru {
	width: 25px;
	height: 25px;
	border-radius:40px;
	background:#0b5345; color : white;}
.lihat-hijau {
	width: 25px;
	height: 25px;
	border-radius:40px;
	background:#0b5345; color : white;}
.detail {
	width: 70px;
	height: 25px;}
.bor{
	border-right:solid 2px white;}
.font{color:black;}
	
	/*----HOVER TOMBOL----*/
.men-fade,
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;}

.a-font:hover, .a-font:focus, .a-font:active {
  background:  #a3e4d7; }
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
 background:transparent;
  color: white;}
.b-fade:hover, .b-fade:focus, .b-fade:active {
  background-color: #a3e4d7;
  color: black;}
.b1-fade:hover, .b-fade:focus, .b-fade:active {
  background-color: #0b5345;
  color: white;}
.green-fade:hover, .d-fade:focus, .d-fade:active {
  background-color: #0b5345;
  color: white;}
.red-fade:hover, .d-fade:focus, .d-fade:active {
  background-color: #e74c3c;
  color: white;}
.men-fade:hover, .men-fade:focus, .men-fade:active {
  background-color: #F1C40F;
  color: black;}
 /*----END TOMBOL-----*/

img.cover3{
		height:40px;
		Width:40px;
		padding-top:0px;}
/*----INPUT TEXT-----*/
.input-a:focus,
.input-b:focus,
.input-e:focus,
.input-c:focus,
.input-d:focus  {
border: 1px solid rgba(20, 143, 119, 1);
height: 20px;
}

.input-panjang,
.input-a,
.input-b,
.input-c,
.input-d,
.input-e {
border: 0.5px solid #27AE61;
}
.input-panjang {
height: 20px;
width:550px;
}
.input-a {
height: 20px;
width:355px;
}
.input-b {
height: 20px;
width:100px;
}
.input-c {
height: 20px;
width:40px;
}
.input-d {
height: 20px;
width:250px;
}
.input-e {
height: 20px;
width:160px;
}
/*----END INPUT TEXT-----*/

#panel
{
     height: 200px;
     width: 200px;
     background: #E88C37;
     float: left;
     display: none;
     font-size: xx-large;
}
legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}