.boxed-page {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px;}
.boxed-emr{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	position: relative;
	padding: 5px;}
	
.wallpaper-hijau,
.wallpaper-emas,
.wallpaper-orange,	
.wallpaper-ungu,
.wallpaper-biru{
	width:100%;
	height:100%;
	padding: 0px; 
	margin: 0px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0, finishopacity=100, style=3);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;}
	
.wallpaper-hijau{
     background:#00922e;
     background:-webkit-radial-gradient(center, ellipse, #8cf2ac 5%, #33d767 45%, #00922e 100%);}
.wallpaper-emas{
     background:#ffd600;
     background:-webkit-radial-gradient(center, ellipse, #c5be97 5%, #ebd979 45%, #ffd600 100%);}
.wallpaper-biru{
     background:#C2F3F8;
     background:-webkit-radial-gradient(center, ellipse, #C2F3F8 5%, #57B4C9 45%, #0568B1 100%);}
.wallpaper-ungu{
     background:#E0CAE8;
     background:-webkit-radial-gradient(center, ellipse, #E0CAE8 5%, #BF85D6 45%, #8D44AF 100%);}
.wallpaper-orange{
     background:#F9DBC8;
     background:-webkit-radial-gradient(center, ellipse, #F9DBC8 5%, #F5AD7E 45%, #D45300 100%);}
	 
.bgheader{
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, rgba(21,67,96,0.4)));}
.bgfoter{
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(21,67,96,0.4)), color-stop(1, white));}
.bgcari {
    background: -webkit-gradient(linear,left top,left bottom,from(#2471a3),to(#fff));}

.kotak-login-hitam{width: 30%;background-color:rgba(0,0,0,0.3);color:white;vertical-align: middle;}
.kotak-login-hitam1{width: 50%;background-color:rgba(0,0,0,0.2);color:white;vertical-align: middle;}
.kotak-login-putih{width: 30%;background-color:rgba(255,255,255,0.5);color:black;vertical-align: middle;}
.kotak-login-biru{width: 30%;background-color:rgba(52,152,219,0.5);color:black;vertical-align: middle;}
.kotak-login-grey{width: 50%;height: 50%;background-color:rgba(213,216,220,0.5);color:black;vertical-align: middle;}

.tabel{
	text-align:center;
    border-spacing: 0px;
	padding: 0px;
    border-collapse: collapse;
	border:0px;
	margin: 0 auto;
	font-size:10pt;border :solid 2px white;}
.tabel1{
	text-align:left;
    border-spacing: 0px;
	padding: 2px;
    border-collapse: collapse;
	margin: 0 auto;
	font-size: 10pt;}
.tabel_entri{
	background-color:rgba(217,237,247,0.9);
	text-align:left;
    border-spacing: 2px;
	padding: 15px;
    border-collapse: collapse;
	width: fixed;
	border: 10px solid rgba(213,216,220,0.0);
	margin: 0 auto;
	font-size: 10pt;}
.bayang{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);}
.row1 { 
	height:25px;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2471a3), color-stop(1, #2471a3));
	color:white;}
.row2 { 
	height:50px;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2471a3), color-stop(1, #2471a3));
	color:white;}
.form { 
	height:25px;
	font-weight: bold;
	text-align:left;}
.garis{
	height:25px;
	border :solid 2px white;
	}
.garistebal{
	height:35px;
	border :solid 2px white;
	}
/*----TOMBOL-----*/

.button{
		cursor:pointer;
		border-width:0px;
		-webkit-background-size: 100% 100%;
		cursor:pointer;
		width:180px;
		height:90px;
		color:transparent;
		border-radius: 4px;}
.kecil-pjg,.lbhkecil,
.tombol-diag-home,
.login,.kotak,
.lihathal,
.kecil,.kecilred,.kecila
.lihat,
.lihat-biru,.lihat-hijau,
.detail,
.besar,.besar-hijau,.besar1,
.agakkecil,.agakbesar,
.sedang,.sedangaktif,
.menbut,.menbutaktif,.menbuthijau,
.butpel,.butpelaktif.sembunyi {
	cursor:pointer;
	border:0px;
	-moz-border-radius :0px;
	}
.menbuthijau,
.menbutaktif,.sembunyi
.menbut {
	width: 120px;
	height: 40px;
	font-size : 14px;}
.menbut {
	background:rgba(0,0,0,0.0);
	color:black}
.menbuthijau {
	background:#19BD9B;
	color:white;}
.menbutaktif {
	background:#fff;
	color:#20ADD8;}
.sembunyi {
	background:#fff;
	color:#20ADD8;}
	
.butpelaktif,
.butpel {
	width: 90px;
	height: 35px;
	font-size : 12px;
	font-weight: bold;}
.butpel {
	border-left:solid 1px white;
	background:#2471a3;
	color:white;}
.butpelaktif {
	background:#fff;
	color:#20ADD8;}
.tombol-diag-home {
	background:#2471a3; 
	width: 230px;
	height: 30px;
	font-size : 13px;
	text-align: left;color:white;}	
.login {
	width: 250px;
	height: 30px;
	font-size : 13px;
	background:#2471a3; color : white;}
.sedang {
	width: 120px;
	height: 25px;
	font-size : 13px;
	background:#2471a3; color : white;font-size: 9pt;}
.sedangaktif {
	width: 120px;
	height: 25px;
	font-size : 13px;
	background:white; color : #2471a3;font-size: 9pt;}
.besar {
	width: 180px;
	height: 25px;
	font-size : 11pt;
	background:#2471a3; color : white;text-align: left;}
.besar1 {
	width: 220px;
	height: 45px;
	font-size : 13pt;
	padding: 8px 15px 8px 15px;
	background:#2471a3; color : white;text-align: left;}
.kotak {
	width: 50px;
	height: 45px;
	font-size : 13pt;
	padding: 8px 8px 8px 8px;
	background:#2471a3; color : white;text-align: center;
	border-right:solid 1px white;}
.kecil {
	width: 30px;
	height: 25px;
	font-size : 13px;
	background:#2471a3; color : white;}
.kecilred {
	width: 30px;
	height: 25px;
	font-size : 13px;
	background:#e74c3c; color : white;
	-webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;}
.kecila {
	width: 30px;
	height: 25px;
	font-size : 13px;
	background:#2471a3; color : #e74c3c;border:0;}
.lbhkecil {
	width: 30px;
	height: 20px;
	font-size : 13px;
	background:rgba(0,0,0,0.0); color : #2471a3;}
.agakkecil {
	width: 55px;
	height: 20px;
	font-size : 13px;
	background:#2471a3; color : white;
	-webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;}
.agakbesar {
	width: 100px;
	height: 20px;
	font-size : 13px;
	background:#2471a3; color : white;
	-webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;}
.kecil-pjg{
	width: 100px;
	height: 20px;
	font-size : 13px;
	background:#2471a3; color : white;font-size: 9pt;}
.detail,
.lihathal,
.lihat {
	border-radius:40px;
	background:transparent; color : black;}	
.lihat {
	width: 30px;
	height: 30px;}
.lihathal {
	width: 35px;
	height: 35px;}
.lihat-biru {
	width: 30px;
	height: 30px;
	border-radius:40px;
	background:#2471a3; color : white;}
.lihat-hijau {
	width: 30px;
	height: 30px;
	border-radius:40px;
	background:#88EAB1; color : white;}
.detail {
	width: 70px;
	height: 30px;}
.bor{
	border-right:solid 1px white;}
.font{color:black;}
	
	/*----HOVER TOMBOL----*/
.men-fade,
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;}

.a-font:hover, .a-font:focus, .a-font:active {
  background-color: #99CCFF; }
  
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
 background:black;
  color: white;}
.a-fade:hover, .a-fade:focus, .a-fade:active {
  background-color: #F1E1A1;
  color: white;}
.b-fade:hover, .b-fade:focus, .b-fade:active {
  background-color: #B7D2E4;
  color: black;}
.c-fade:hover, .b-fade:focus, .b-fade:active {
  background-color: #F1D4CA;
  color: white;}
.d-fade:hover, .d-fade:focus, .d-fade:active {
  background-color: #209EFF;
  color: white;}
.red-fade:hover, .d-fade:focus, .d-fade:active {
  background-color: #e74c3c;
  color: white;}
.blue-fade:hover, .d-fade:focus, .d-fade:active {
  background-color: #2471a3;
  color: white;}
.men-fade:hover, .men-fade:focus, .men-fade:active {
  background-color: #F1C40F;
  color: white;}
  
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
 }

 /*----END TOMBOL-----*/

 /*----GAMBAR-----*/
img.cover{
	height:30px;
	Width:30px;
	padding-top:0px;}
img.cover0{
		height:25px;
		Width:25px;
		padding-top:0px;}
img.cover1{
		height:230px;
		Width:200px;
		padding-top:0px;}
img.cover2{
		height:120px;
		Width:120px;
		padding-top:0px;}
img.cover3{
		height:40px;
		Width:40px;
		padding-top:0px;}
/*----END GAMBAR-----*/

/*----INPUT TEXT-----*/
.input-10:focus,
.input-20:focus,
.input-40:focus,
.input-a:focus,
.input-b:focus,
.input-c:focus,
.input-d:focus,
.input-e:focus {
border: 1px solid rgba(81, 203, 238, 1);
height: 20px;
}

.input-40,
.input-10,
.input-20,
.input-panjang,
.input-a,
.input-b,
.input-c,
.input-d,
.input-e {
border: 0.5px solid #999;
}
.input-panjang {
height: 20px;
width:550px;
}
.input-a {
height: 20px;
width:355px;
}
.input-40 {
height: 20px;
width:265px;
}
.input-20 {
height: 20px;
width:123px;
}
.input-10 {
height: 20px;
width:60px;
}
.input-b {
height: 20px;
width:100px;
}
.input-c {
height: 20px;
width:40px;
}
.input-d {
height: 20px;
width:250px;
}
.input-e {
height: 20px;
width:160px;
}
/*----END INPUT TEXT-----*/

/*----TOMBOL INDEX UTAMA-----*/
.merah{background-color:rgba(225,112,67,1);}
.hijaucerah{background-color:rgba(45,204,112,1);}
.silver{background-color:rgba(190,195,199,1);}
.wetaspal{background-color:rgba(93,110,126,1);}
.kuning{background-color:rgba(231,126,35,1);}
.grey{background-color:rgba(149,165,165,1);}
.biru{background-color:rgba(36,113,163,1);}
.ungu{background-color:rgba(155,88,181,1);}
.hijau {background-color:rgba(25,189,155,1);}

.merah,
.hijaucerah,
.silver,
.wetaspal,
.kuning,
.grey,
.biru,
.ungu,
.hijau {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(236,240,241,0.2);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  position: relative;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;}
	  
.merah:before,
.hijaucerah:before,
.silver:before,
.wetaspal:before,
.kuning:before,
.grey:before,
.biru:before,
.ungu:before,
.hijau:before {
	background-color:rgba(0,0,0,0.1);
	content: "";
	position: absolute;
	z-index: -2;
	  top: 5px;
	  left: 5px;
	  right: 5px;
	  bottom: 5px;
	  -webkit-transform: scale(0);
	  transform: scale(0);
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;}
	  
.merah:hover, .merah:focus, .merah:active,
.hijaucerah:hover, .hijaucerah:focus, .hijaucerah:active,
.silver:hover, .silver:focus, .silver:active,
.wetaspal:hover, .wetaspal:focus, .wetaspal:active,
.kuning:hover, .kuning:focus, .kuning:active,
.grey:hover, .grey:focus, .grey:active,
.biru:hover, .biru:focus, .biru:active,
.ungu:hover, .ungu:focus, .ungu:active,
.hijau:hover, .hijau:focus, .hijau:active {
	color: rgba(236,240,241,0.7);}
	
.merah:hover:before, .merah:focus:before, .merah:active:before,
.hijaucerah:hover:before, .hijaucerah:focus:before, .hijaucerah:active:before,
.silver:hover:before, .silver:focus:before, .silver:active:before,
.wetaspal:hover:before, .wetaspal:focus:before, .wetaspal:active:before,
.kuning:hover:before, .kuning:focus:before, .kuning:active:before,
.grey:hover:before, .grey:focus:before, .grey:active:before,
.biru:hover:before, .biru:focus:before, .biru:active:before,
.ungu:hover:before, .ungu:focus:before, .ungu:active:before,
.hijau:hover:before, .hijau:focus:before, .hijau:active:before {
	 -webkit-transform: scale(1);
	 transform: scale(1);
	}
/*----END TOMBOL INDEX UTAMA----*/

/* Curl Top Left */
.hvr-curl-top-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(135deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-left:hover:before, .hvr-curl-top-left:focus:before, .hvr-curl-top-left:active:before {
  width: 25px;
  height: 25px;
}
.hvr-reveal {
			  display: inline-block;
			  vertical-align: middle;
			  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
			  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
			  -moz-osx-font-smoothing: grayscale;
			  position: relative;
			  overflow: hidden;
			}
		.hvr-reveal:before {
			  content: "";
			  position: absolute;
			  z-index: -1;
			  left: 0;
			  right: 0;
			  top: 0;
			  bottom: 0;
			  border-color: #ECF0F1;
			  border-style: solid;
			  border-width: 0;
			  -webkit-transition-property: border-width;
			  transition-property: border-width;
			  -webkit-transition-duration: 0.1s;
			  transition-duration: 0.1s;
			  -webkit-transition-timing-function: ease-out;
			  transition-timing-function: ease-out;
			}
			.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
			  -webkit-transform: translateY(0);
			  transform: translateY(0);
			  border-width: 2px;
			}
		.animated { 
				-webkit-animation-duration: 1s; 
				animation-duration: 1s; 
				-webkit-animation-fill-mode: both; 
				animation-fill-mode: both;
			} 

			@-webkit-keyframes flip { 
				0% { 
					-webkit-transform: perspective(400px) rotateY(0); 
					-webkit-animation-timing-function: ease-out; 
				} 
				40% { 
					-webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg); 
					-webkit-animation-timing-function: ease-out; 
				} 
				50% { 
					-webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
					-webkit-animation-timing-function: ease-in; 
				} 
				80% { 
					-webkit-transform: perspective(400px) rotateY(360deg) scale(.95); 
					-webkit-animation-timing-function: ease-in; 
				} 
				100% { 
					-webkit-transform: perspective(400px) scale(1); 
					-webkit-animation-timing-function: ease-in; 
				} 
			} 
			@keyframes flip { 
				0% { 
					transform: perspective(400px) rotateY(0); 
					animation-timing-function: ease-out; 
				} 
				40% { 
					transform: perspective(400px) translateZ(150px) rotateY(170deg); 
					animation-timing-function: ease-out; 
				} 
				50% { 
					transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
					animation-timing-function: ease-in; 
				} 
				80% { 
					transform: perspective(400px) rotateY(360deg) scale(.95); 
					animation-timing-function: ease-in; 
				} 
				100% { 
					transform: perspective(400px) scale(1); 
					animation-timing-function: ease-in; 
				} 
			} 
			.flip { 
				-webkit-backface-visibility: visible !important; 
				-webkit-animation-name: flip; 
				backface-visibility: visible !important; 
				animation-name: flip; 
			}

			/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal:before {
  content: "\f061";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover:before, .hvr-icon-wobble-horizontal:focus:before, .hvr-icon-wobble-horizontal:active:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward:before {
  content: "\f138";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 2px; 
  margin-bottom: 2px;
  line-height: 1.2;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
